html {
  background:
  url(https://gateway.pinata.cloud/ipfs/QmfBzCjhrtXJMaGX4uz5gquZp5s9YDdn6yypnpcNdH1Dva);
  background-size: cover;
}
body {
  padding: 10;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
